<ul class="nav">
  <!-- Twitter -->
  <li class="nav-item pr8">
    <a class="btn share-btn twitter" href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" target="_blank">
      <i class="fab fa-twitter"></i>
      <span class="d-none d-md-inline-block">Twitter</span>
    </a>
  </li>

  <!-- Google Plus -->
  <li class="nav-item pr8">
    <a class="btn share-btn google-plus" href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank">
      <i class="fab fa-google-plus"></i>
      <span class="d-none d-md-inline-block">Google+</span>
    </a>
  </li>


  <!-- Reddit -->
  <li class="nav-item pr8">
    <a class="btn share-btn reddit" href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank">
      <i class="fab fa-reddit-alien"></i>
      <span class="d-none d-md-inline-block">Reddit</span>
    </a>
  </li>

  <!-- LinkedIn -->
  <li class="nav-item pr8">
    <a class="btn share-btn linkedin" href="https://www.linkedin.com/shareArticle?mini-true&url={{ .Permalink }}&title={{ .Title }}" target="_blank">
      <i class="fab fa-linkedin"></i>
      <span class="d-none d-md-inline-block">LinkedIn</span>
    </a>
  </li>

</ul>
