{{ define "main" }}
<section class="partners pt40">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <div class="mb40">
      {{ .Content }}
    </div>

    {{ range $i, $section := (union ( where .Site.Pages "Type" "partner" ) ( where .Site.Pages "Type" "competence" )).ByWeight}}
    {{ if eq (mod $i 3) 0 }}
      <div class="row my24">
    {{ end }}
        <div class="partner col-md-4 text-center">
          <div class="img-container mx16">
            <!--<a href="{{ .Permalink }}" title="{{ .Title }}">-->
            <img src="{{ .Params.Image }}" alt="{{ .Title }}" title="{{ .Title }}">
            <!--</a>-->
          </div>
          <!--<h2 class="">{{ .Title }}</h2>-->
          <div class="mb40">
            {{ .Params.description }}
          </div>
          <!-- <div class="mt16">
          <a class="btn btn-primary" href="{{ .Permalink }}" title="Project">More Info</a>
        </div> -->
      </div>
    {{ if eq (mod $i 3) 2 }}
      </div>
    {{ end }}
  {{ end }}
</div>
</div>
</section>
{{ end }}
