<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3N86M2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}

    {{ partial "js" . }}

    <script
      src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
      data-cfasync="false"
    ></script>
    <script>
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: "#00abee"
          },
          button: {
            background: "#fabf07"
          }
        },
        theme: "classic"
      });
    </script>

    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
