<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3N86M2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}

    {{ partial "js" . }}

    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
