{{ define "main" }}
<section class="about pt40 pb40">
  <div class="container">
    <section>
      <h1 class="mb32">Contact us!</h2>
      <p class="font-weight-bold">E-Mail: <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
      <p class="font-weight-bold">Phone: <a href="tel:{{ .Params.phone }}">{{ .Params.phone }}</a></p>
    </section>
    <section class="mt56">
      <h1 class="mb32">Our Offices</h2>
      <div class="row">
        <div class="col-md-4">
          <h3 class="font-weight-bold mb24">Italy</h3>
          {{ range $i, $office := .Params.italianOfficies }}
          <div class="mb32">
            <h4>{{ .name }}</h4>
            {{ range .location }}
            <div>{{ . }}</div>
            {{ end }}
            {{ if .phone }}
            <div>Phone: <a href="tel:{{ .phone }}">{{ .phone }}</a></div>
            {{ end }}
            {{ if .fax }}
            <div>Fax: <a href="fax:{{ .fax }}">{{ .fax }}</a></div>
            {{ end }}
          </div>
          {{ end }}
        </div>
        <div class="col-md-4">
          {{ range $i, $country := .Params.internationalOffices }}
          <h3 class="font-weight-bold mb24">{{ .country }}</h3>
          {{ range .offices }}
          <div class="mb32">
            <h4>{{ .name }}</h4>
            {{ range .location }}
            <div>{{ . }}</div>
            {{ end }}
            {{ if .phone }}
            <div>Phone: <a href="tel:{{ .phone }}">{{ .phone }}</a></div>
            {{ end }}
            {{ if .fax }}
            <div>Fax: <a href="fax:{{ .fax }}">{{ .fax }}</a></div>
            {{ end }}
            {{ if .registeredOffice }}
            <div class="font-italic mt8">Registered office:</div>
            {{ range .registeredOffice }}
            <div>{{ . }}</div>
            {{ end }}
            {{ end }}
          </div>
          {{ end }}
          {{ end }}
        </div>
        <div class="col-md-4">
          <h3 class="font-weight-bold mb24">Business Units</h3>
          {{ range $i, $office := .Params.businessUnits }}
          <div class="mb32">
            <h4 class="font-weight-bold">{{ .name }}</h4>
            {{ range .location }}
            <div>{{ . }}</div>
            {{ end }}
            {{ if .phone }}
            <div>Phone: <a href="tel:{{ .phone }}">{{ .phone }}</a></div>
            {{ end }}
            {{ if .website }}
            <div><a href="https://{{ .website }}" target="_blank">{{ .website }}</a></div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </section>
  </div>
</section>
{{ end }}
